<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Are you scaling your high growth Engineering team?</h2>
                <hr class="light">
                <p class="text-faded">Bridge the gap between Technical Teams and Talent Acquisition!</p>
                <p>We focus on providing reviews on collaboration tools and applications which support placing candidates and developing those in your team.</p>
                <p class="text-faded">Get the acceleration you need to scale your Engineering teams fast! Tech Boost has everything you need to get your team up and running in no time!</p>
                <p>We collaborate with your Talent Acquisition Managers, your candidates, your Technical Managers and Engineering Managers to build and scale high performance teams of technical professionals injecting team cohesion into high growth teams.</p>
                <p class="text-faded">Doubling performing remote first teams is what we do, focusing on the interview stage, coaching your team to find best fit for new starters. </p>

                <a href="#" class="btn btn-default btn-xl">Get Scaling!</a>
            </div>
        </div>
    </div>
</section>
